//main: ../style.less

.articles {
    margin-bottom: 10rem;

    @media @tablet-1 {
        margin-bottom: 7rem;
    }

    @media @tablet-2 {
        margin-bottom: 6rem;
    }

    @media @mobile {
        margin-bottom: 5rem;

        a {
            text-align: center;
        }
    }
}

.articles__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles__item {
    width: 47%;
    max-width: 50rem;
    margin-bottom: 5rem;
    
    font-family: @Sans;
    
    &--blog {
        width: 100%;
        max-width: none;
    }

    @media @tablet-1 {
        width: 100%;
        max-width: none;
    }

    @media @mobile {
        &:last-child {
            margin-bottom: 3rem;
        }
    }
}

.articles__content {
    width: 100%;
    max-width: 60rem;
}

.articles__title {
    margin-bottom: 1.5rem;
    
    font-size: 1.8rem;
    font-weight: 700;
    color: @dark-grey;
    
    a {
        color: inherit;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }

    @media @tablet-2 {
        font-size: 1.6rem;
    }
}

.articles__text {
    margin-bottom: 1.5rem;
    
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    color: @grey;

    @media @tablet-2 {
        font-size: 1.4rem;
    }
}

.articles__date {
    display: block;
    
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75;
}