//main: ../style.less

.benefits {
    margin-bottom: 6rem;
}

.benefits__inner {
    display: flex;
}

.benefits__col {
    display: flex;
    align-items: center;
    width: 50%;

    @media @tablet-1 {
        justify-content: center;
        width: 100%;

        &--img {
            display: none;
        }
    }
}

.benefits__list {
    position: relative;
    
    width: 100%;
    max-width: 37rem;
    padding-left: 5rem;
    
    background-image: linear-gradient(to bottom, @white 45%, #a5a5a5 45%);
    background-size: .15rem 3.5rem;
    background-repeat: repeat-y;
    background-position: left 1.19rem top 2rem;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        
        display: block;
        width: 2.6rem;
        height: 3.6rem;
        
        background-color: @white;
        background-repeat: no-repeat;
    }
    
    &:before {
        top: -1rem;
        
        background-image: url("../img/benefits/pin-start.svg");
    }
    
    &:after {
        bottom: -1rem;
        
        background-image: url("../img/benefits/pin-finish.svg");
    }

    @media @tablet-1 {
        max-width: none;
    }
}

.benefits__item {
    margin-bottom: 3.5rem;
    
    list-style: none;
    
    &:last-child {
        margin-bottom: 0;
    }

    @media @laptop-2 {
        margin-bottom: 2.8rem;
    }
}

.benefits__title {
    margin-bottom: 1.2rem;
    
    font-family: @Lato;
    font-size: 2.1rem;
    font-weight: 900;
    color: @dark-grey;

    @media @tablet-1 {
        font-size: 2rem;
    }

    @media @tablet-2 {
        font-size: 1.85rem;
    }

    @media @mobile {
        font-size: 1.8rem;
    }
}

.benefits__text {
    font-family: @Sans;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    color: @grey;

    @media @laptop-2 {
        font-size: 1.4rem;
    }
}

.benefits__way {
    position: absolute;
    top: 0;
    left: -9rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.benefits__path {
    position: absolute;
    top: 6rem;
    left: 1.1rem;
    
    height: 80%;
    
    //border-left: .3rem dashed @grey;
}