//main: ../style.less

.btn {
    position: relative;
    
    display: inline-block;
    vertical-align: middle;
    height: 4.5rem;
    padding: 0;
    
    font-size: 0;
    color: transparent;
    
    border: none;
    border-radius: .5rem;
    background: linear-gradient(to right, #FF903E, #FF2C2C);
    cursor: pointer;
    
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        
        width: 100%;
        
        font-family: @Sans;
        font-size: 1.8rem;
        font-weight: 700;
        color: @white;
        text-align: center;
        
        transform: translate3d(-50%, -50%, 0);
        transition: letter-spacing .2s linear;
    }
    
    &--long {
        width: 34rem;
        
        &:after {
            content: "Call me back";
        }

        @media @laptop-1 {
            width: 29rem;
        }
    }
    
    &--med {
        width: 21.2rem;
        
        &:after {
            content: "Become a client";
        }
    }
    
    &--articles {
        width: 16.1rem;
        
        &:after {
            content: "Visit blog";
        }
    }
    
    &--blog {
        width: 16.1rem;
        
        &:after {
            content: "Back to home";
        }
    }
    
    &--shadow {
        box-shadow: 0 1rem 1.5rem rgba(@black, .2);
    }

    &--request {
        display: none;
        
        &:after {
            content: "Get callback";
        }

        @media @laptop-2 {
            position: absolute;
            left: 5rem;
            bottom: 5rem;
            z-index: 10;

            display: inline-block;
            width: 28rem;
            height: 5rem;
        }

        @media @tablet-1 {
            width: 21rem;
            height: 4.5rem;
        }

        @media @tablet-2 {
            display: none;
        }
    }

    &--center {
        @media @mobile {
            position: relative;
            left: 50%;

            transform: translateX(-50%);
        }
    }
    
    &:hover {
        &:after {
            letter-spacing: .1rem;
        }
    }
    
    &:focus {
        //outline: none;
    }
}