//main: ../style.less

.clients {
    margin-top: 12rem;
    margin-bottom: 12rem;

    @media @laptop-1 {
        margin-top: 11rem;
        margin-bottom: 11rem;
    }

    @media @laptop-2 {
        margin-top: 9rem;
        margin-bottom: 10rem;
    }

    @media @tablet-1 {
        margin-top: 7rem;
        margin-bottom: 8rem;
    }

    @media @tablet-2 {
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
}

.clients__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;

    @media @laptop-1 {
        margin-bottom: 2rem;
    }

    @media @laptop-2 {
        margin-bottom: 0;
    }

    @media @tablet-1 {
        margin-bottom: 2.3rem;
    }

    @media @tablet-2 {
        margin-bottom: 1.8rem;
    }
}

.clients__logos {
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;

    @media @tablet-1 {
        width: 100%;
        margin-bottom: 5rem;
    }
}

.clients__logo {
    //display: block;
    margin-right: 4rem;
    margin-bottom: 6rem;

    @media @tablet-1 {
        margin: 1.5rem 1rem;
    }
}

.clients__bg {
    position: absolute;
    top: -3rem;
    left: -4rem;
    z-index: -1;
    
    opacity: .15;

    @media @laptop-2 {
        display: none;
    }
}

.clients__footer {
    position: relative;

    @media @mobile {
        text-align: center;
    }
}

.clients__note {
    position: relative;
    
    display: inline-block;
    margin-left: 4rem;
    
    font-family: @Sans;
    font-size: 1.8rem;
    font-weight: 400;
    color: #464646;

    @media @tablet-1 {
        font-size: 1.6rem;
    }

    @media @mobile {
        display: none;
    }
}

.clients__heart {
    position: absolute;
    top: 50%;
    left: 27.3rem;
    z-index: 1;
    
    transform: translateY(-50%);

    @media @mobile {
        display: none;
    }
}
