//main: ../style.less

.clients {
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.clients__title {
    margin-bottom: 5.6rem;
    
    font-family: @Lato;
    font-size: 4.5rem;
    font-weight: 900;
    color: @dark-grey;
    
    span {
         color: @blue;
    }
}

.clients__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;

}

.clients__logos {
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
    width: 60%;
}

.clients__bg {
    position: absolute;
    top: -3rem;
    left: -4rem;
    z-index: -1;
    
    opacity: .15;
}

.clients__footer {
    position: relative;
}

.clients__note {
    position: relative;
    
    margin-left: 4rem;
    
    font-family: @Sans;
    font-size: 1.8rem;
    font-weight: 400;
    color: #464646;
}

.clients__heart {
    position: absolute;
    top: 50%;
    left: 27.3rem;
    z-index: 1;
    
    transform: translateY(-50%);
}






