//main: ../style.less

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    
    display: flex;
    align-items: center;
    height: @header-height;
    width: 100%;
    
    background-color: rgba(@black, .2);
    box-shadow: 0 4px 4px rgba(@black, .25);

    @media @laptop-2 {
        height: calc(@header-height - 2rem);
    }

    @media @tablet-1 {
        height: calc(@header-height - 2.5rem);
    }

    @media @tablet-2 {
        height: calc(@header-height - 3rem);
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header__logo {
    display: block;
    height: auto;
    max-width: 100%;
}