//main: ../style.less

.header {
    display: flex;
    align-items: center;
    height: 8.5rem;
    
    background-color: rgba(@black, .2);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header__logo {
    display: block;
    height: auto;
    max-width: 100%;
}