//main: ../style.less

.nav {
    display: flex;
    align-items: center;
    
    &.active {
        position: absolute;
        top: @header-height;
        right: 0;
        z-index: 10000;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        
        background-color: @black;
        
        & > .nav__link {
            width: 100%;
            padding: 3rem;
            margin-right: 0;
            
            font-size: 2rem;
            text-align: right;
            
            transition: background .2s linear;
            
            &:after {
                display: none;
            }
            
            &:hover {
                background-color: @blue;
            }

            @media @mobile {
                padding: 2.5rem;

                font-size: 1.5rem;
            }
        }

        @media @laptop-2 {
            top: calc(@header-height - 2rem);
        }

        @media @tablet-1 {
            top: calc(@header-height - 2.5rem);
        }

        @media @tablet-2 {
            top: calc(@header-height - 3rem);
        }
    }

    @media @tablet-1 {
        display: none;
    }
}

.nav__link {
    position: relative;
    
    display: block;
    margin-right: 4rem;
    
    font-family: @Lato;
    font-size: 1.5rem;
    font-weight: 400;
    color: @white;
    text-decoration: none;
    
    &:after {
        content: "";
        position: absolute;
        bottom: -.3rem;
        left: 40%;
        z-index: 10;
        
        display: block;
        width: 20%;
        height: .17rem;
        
        background-color: @white;
        opacity: 0;
        
        transition: width .2s ease-in-out, transform .2s ease-in-out, opacity .2s ease-in-out;
    }
    
    &:hover {
        &:after {
            opacity: 1;
            
            transform: scaleX(5);
        }
    }
    
    &:last-child {
        margin-right: 0;
    }
    
    &.active {
        &:after {
            opacity: 1;
            
            transform: scaleX(5);
        }
    }
}