//main: ../style.less

.section__title {
    margin-bottom: 5.6rem;
    
    font-family: @Lato;
    font-size: 4.5rem;
    font-weight: 900;
    color: @dark-grey;
    
    span {
         color: @blue;
    }

    @media @laptop-1 {
        margin-bottom: 5.2rem;

        font-size: 4.2rem;
    }

    @media @laptop-2 {
        margin-bottom: 5rem;

        font-size: 4rem;
    }

    @media @tablet-1 {
        margin-bottom: 4.8rem;

        font-size: 3.8rem;
    }
    
    @media @tablet-2 {
        margin-bottom: 4.5rem;

        font-size: 3.5rem;
    }

    @media @mobile {
        margin-bottom: 4.2rem;

        font-size: 3.2rem;
    }
}