<footer class="footer">
    <div class="container">
        <img class="footer__logo" src="assets/img/footer/logo.svg" alt="logo">
        
        <a href="#" class="footer__address" target="_blank">New York, Street, ZIP code</a>
        
        <div class="footer__contacts">
            <a href="tel:+9948373123" target="_blank">Call Us: +9948373123 or </a>
            <a href="mailto:hello@centerlogistic.com" target="_blank">E-mail: hello@centerlogistic.com</a>
        </div>
        
        <div class="footer__info">
            <a href="#" class="footer__link" target="_blank">Terms &amp; Contidions</a>
            <a href="policy.html" class="footer__link" target="_blank">Privacy Policy</a>
            <a href="blog.html" class="footer__link" target="_blank">Our blog</a>
        </div>
    </div><!-- /.container -->
</footer><!-- /.footer -->