<div class="modal" id="thanksModal">
    <div class="modal__inner">
       <div class="modal__header">
            <img class="modal__icon" src="assets/img/modal/tick.png" alt="tick">
            <h4 class="modal__title">Thanks for your request!</h4>
            <div class="modal__text">
                <p>We call you back as soon as possible!</p>
            </div>
        </div>

        <div class="modal__footer">
            <h4 class="modal__footer-title">Our contacts</h4>
            
            <div class="modal__footer-contacts">
                <address class="modal__address">
                    New York, Street, ZIP code
                </address>
                <a class="address__link" href="tel:+9948373123">Phone: +9948373123</a>
                <a class="address__link" href="mailto:hello@centerlogistic.com">E-mail: hello@centerlogistic.com</a>
            </div>
        </div>

        <button class="modal__close" type="button">
            <img src="assets/img/modal/close.svg" alt="close">
        </button>
    </div>
</div>