//main: style.less

//Colors:
@white:     #ffffff;
@dark-white:#e5e5e5;
@black:     #000000;
@dark-grey: #2c2c2c;
@grey:      #585858;
@blue:      #004af2;
@red:       #ff3e2f;


//Fonts:
@Lato: ~"'Lato', sans-serif";
@Sans: ~"'PT Sans', sans-serif";


@header-height: 8.5rem;